<h1>Welcome back <%= @meter_reader.name %></h1>

<%= form_with(url: dashboard_search_path, local: true) do |f| %>
  <%= f.label :meter_number, 'Enter the meter number' %>
  <%= f.number_field :meter_number %>

  <%= f.submit "Submit", disable_with: 'Submiting...' %>
<% end %>
